* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: block;
  background: linear-gradient(
    to bottom right,
    rgba(255, 43, 87, 0.2),
    rgba(255, 32, 54, 0.6)
  );
  /* background: radial-gradient(farthest-corner at 20% 30%, #ee5253 20%, #ff9f43 30%); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  width: 80vw;
  height: 90vh;
  background-color: white;
  border-radius: 10px;

  /**/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.red {
  background: red;
}
.orange {
  background: orange;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
}
.yellow {
  background: yellow;
}
