@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  background: #2980b9;
  height: 100vh;
  min-width: 100vw;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
}

.btn-edit {
  background: #8e44ad;
}

.btn-delete {
  background: #c0392b;
}

.btn-create {
  background: #27ae60;
}

h1 {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style: none;
}

input {
  padding: 2rem 3rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: "Jost", sans-serif;
}
